<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <h1>IKIYA ®</h1>
    <p>
        Hi, <b>{{username}} !</b><br/><br/>
        We noticed a login from a new device or browser.<br/><br/>
        
        If this wasn't you, please login and change your password immediately to secure your account. <br/>
        You can change your password by go to Home > Profile > Change Password.<br/><br/>
        You might receive this email again if you sign in from a new device or browser, you clear your storages, or you use your
        browser's private mode.
    </p>
</body>
</html>    